<?xml version="1.0"?>
<ruleset name="Screenly Cast">
	<description>Screenly Cast Coding Standards</description>

	<!-- What to scan -->
	<file>screenly-cast</file>
	<exclude-pattern>/vendor/</exclude-pattern>
	<exclude-pattern>/tests/</exclude-pattern>

	<!-- How to scan -->
	<arg value="sp"/> <!-- Show sniff and progress -->
	<arg name="colors"/>
	<arg name="basepath" value="."/>
	<arg name="cache" value=".phpcs-cache"/>
	<arg name="parallel" value="8"/>
	<arg name="extensions" value="php"/>

	<!-- Rules: WordPress Coding Standards -->
	<config name="minimum_supported_wp_version" value="6.4"/>
	<rule ref="WordPress">
		<!-- Allow proper namespacing -->
		<exclude name="WordPress.Files.FileName"/>
		<!-- Allow PSR-4 autoloading -->
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
	</rule>

	<!-- Allow :: operator for static calls -->
	<rule ref="PEAR.Functions.FunctionCallSignature">
		<properties>
			<property name="allowMultipleArguments" value="true"/>
		</properties>
	</rule>

	<!-- Enforce PSR-4 -->
	<rule ref="SlevomatCodingStandard.Files.TypeNameMatchesFileName">
		<properties>
			<property name="rootNamespaces" type="array">
				<element key="screenly-cast/inc" value="ScreenlyCast"/>
				<element key="screenly-cast/inc/Contracts" value="ScreenlyCast\Contracts"/>
			</property>
		</properties>
	</rule>

	<!-- PHP compatibility -->
	<config name="testVersion" value="7.4-"/>
	<rule ref="PHPCompatibility"/>
</ruleset>
